* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-wrap_menu{
	width:100%;
	margin:auto;
	max-width:100%;
	min-height:60px;
  padding-bottom: 5px;
	position:relative;
  text-align: center;
  background:rgba(40,57,101,.8);
}
.login-html_test{
	width:100%;
	height:100%;
	position:absolute;

}
.login-html_test .sign-in-htm_test,
.login-html_test .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html_test .sign-in,
.login-html_test .sign-up,
.login-form_test .group .check{
	display:none;
}
.login-html_test .tab,
.login-form_test .group .label,
.login-form_test .group .button{
	text-transform:uppercase;
}
.login-html_test .tab{
	margin-right:15px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html_test .sign-in:checked + .tab,
.login-html_test .sign-up:checked + .tab{

	border-color:#1161ee;
}
.login-form_test{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form_test .group{
	margin-bottom:15px;
}
.login-form_test .group .label,
.login-form_test .group .input,
.login-form_test .group .button{
	width:32%;
	color:black;
  font-size: x-small;
}
.login-form_test .group .input,
.login-form_test .group .button{
	border:none;
  -webkit-appearance: none;
  background: white;
  opacity: .7;
}
.login-form_test .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form_test .group .label{
	color:black;
  padding:5px;
}
.login-form_test .group .button{
	height:40px;
}
.login-form_test .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form_test .group label .icon:before,
.login-form_test .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form_test .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form_test .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form_test .group .check:checked + label{
	color:#fff;
}
.login-form_test .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form_test .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form_test .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html_test .sign-in:checked + .tab + .sign-up + .tab + .login-form_test .sign-in-htm_test{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html_test .sign-up:checked + .tab + .login-form_test .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
